.env
.gitignore
venv/
docstring.txt
log*
*.wav
*.mp3
info*
__pycache__/
.pytest_cache/
tortoise-tts/
checkpoints/
cookies/
dataset/
devika/
faiss_index/
vectorstore/
test/
result/
repos/
fish-diffusion/
wandb/
test_input/
knowledge/
test_output/
